<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
</head>
<body><div style="background image:url('https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&ved=2ahUKEwiisbnD6e_iAhVSXn0KHXewBlcQjRx6BAgBEAU&url=https%3A%2F%2Fdepositphotos.com%2F37603819%2Fstock-photo-privacy-concept-eye-with-optical.html&psig=AOvVaw3S11oluXFW9McvhH2qBUgZ&ust=1560837092900058');padding:0px;width:100%;height:100%;border:1px solid black;background-size: 100% 100%;"/>
<div>
  <div class='center'>
    <div class='title'><b><u>CATARACT DETECTION</u></b></div>
    <p>
      Can distinguish between <strong>NORMAL EYE</strong> and <strong>CATARACT affected eye</strong>!
    </p>
    <div class='content'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>
      <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
      <div class='upload-label'>
        <label id='upload-label'>No file chosen</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
      </div>
      <div class='result-label'>
        <label id='result-label'></label>
      </div>
    </div>
  </div>
</div>
</body>
</html>
